---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(.*[/\\])?repositories[/\\].*'
FormatStyle: file
ExtraArgs:
  - '-std=c++23'
...
